@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins',  sans-serif;
background-color: #f0f4f8;
color: #000000;
margin: 0;
padding: 20px;
}

header {
    text-align: center;
    background-color: #0d47a1;
    color: white;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}

img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    border: 3px solid #1ae8b5;
    display: block;
    margin: 16px auto;
}

section {
background-color: rgba(33, 243, 121, 0.301);
border-radius: 10px;
padding: 24px;
margin-bottom: 24px;
}

a {
color: #017b80;
font-weight: bold;
}

blockquote {
background-color: #f5f5f5;
border-left: 4px solid #1a73e8;
padding: 12px 20px;
margin: 12px 0;
font-style: italic;
}

footer {
text-align: center;
padding: 20px;
color: #0b5eca;;
font-size: 1.0em;
}